<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FinalCODE_1410_Fa14/src/genericMethod/ExereciseGeneric.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="genericMethod.ExereciseGeneric"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FinalCODE_1410_Fa14"/>
</launchConfiguration>
